html, body {
  height: 100%;
}
.background {
  background-color: #F7F9C4;
  min-height: 100%;
  width: 100%;
}
.title {
  font-weight: 600;
  font-size: xx-large;
  margin-left: 93px;
  
}
.target {
  align-content: center;
  justify-content: center;
}
.action {
  padding-bottom: 75px;
  margin-left: 35px;
}
.modifiers {
  margin-left: 35px;
}
h2 {
  padding-bottom: 5px;
}

.btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
